body{
    margin: 0rem;
    text-align: center ;
    font-family:  cursive;
    font-size: 125%;
}

h1{
    margin: 50px auto 0px auto;
    font-family: 'Itim';
    font-size: 4.062rem;
    color: rgb(131, 83, 21);
    line-height: 1.7;
}

.par{
    margin-top: 0px;
    color:rgb(116, 71, 14) ;
    font-weight: normal;
}

h2{
    font-family: 'Itim';
    font-size: 2.5rem;
    color: rgb(116, 71, 14);
}

h3{
    font-family: 'Itim';
    color: rgb(116, 71, 14);
}
.top-container{
    position: relative;
    background-color: navajowhite;
    padding-top: 100px ;
}

.sun{
    /* display: inline; */
    position: absolute;
    top: -10px;
    left: 320px;
    width: 15%;
}

.top-cloud{
    position: absolute;
    right: 160px;
    top: 50px;
    width: 15%;
}

.birds{
    width: 10%;
    position: absolute;
    right: 325px;
    top: 157px
}

.bottom-cloud{
    position: absolute; 
    left: 200px;
    bottom: 300px;
    width: 15%;
}

.ug-pic{
    position: relative;
    top: 1.875rem;
    width: 15%;
}

.skill{
    width: 27%;
    float: left;
    margin-right: 30px;
   
}

.computer{
    width: 27%;
    float: right;
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto ;
    text-align: left;
    line-height: 1.6;
}

/* .middle-container{
    height: 200px;
    width: 200px;
    background-color: red;
}*/

.bottom-container{
    
    background-color: navajowhite;
    padding-bottom: 4em;
} 

.mountain{
    position: relative;
    top: 0.4rem;
}

.btn{
    color: rgb(116, 71, 14);
}

.footer-link{
    position: relative;
    top: 40px;
    padding-right: 38px;
    color: rgb(116, 71, 14);
}

hr{
    border-style: dotted none none;
    color: rgb(116, 71, 14);
    border-width: 0.3125rem;
    width: 4%;
    padding-bottom: 1.875rem;
}

